@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}
.nav-header{
    padding: 10px 0;
    position: sticky; 
    top: 0; 
    z-index: 1000;
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.nav-header.scrolled{
  background-color: rgb(179, 176, 176);
  color: white;
}
.nav-header ul{
  display: flex;
  justify-content: space-around;
}
.nav-header ul li{
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
	height:40px;
	line-height: 25px;
	margin: 3px;
	font-size: 18px;
	font-weight: 520;
}
.nav-header a span{
  color: rgb(10, 10, 139);
  font-weight: 800;
  margin-top: 35px;
}
.btn{
  background-color: rgb(105, 105, 231);
  color: white;
  height: 55px;
  width: 170px;
  padding: 2px;
  margin-top: -30px;
  border-radius: 30px;
  transition-property: all;
  transition-duration: 0.3s;
}
.btn:hover{
  background-color: black;
  height: 60px;
  width: 175px;
}
.header h6{
  /* font-weight: bold; */
  font-size: x-large;
  color: gray;
}
.header h1{
  font-weight: 900;
  font-size: xxx-large;
  height: 150px;
}
.dynamic-word{
  color: rgb(250, 183, 60);
}
.header p{
  color: gray;
}
.btn-head{
  background-color: rgb(105, 105, 231);
  color: white;
  height: 55px;
  width: 170px;
  padding: 2px;
  margin-top: 20px;
  border-radius: 30px;
  transition-property: all;
  transition-duration: 0.3s;
}
.header-image img{
  width: 450px;
  height: 330px;
  object-fit: cover;
}
.btn-head:hover{
  background-color: black;
  height: 60px;
  width: 175px;
}
.logos{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  transition-property: width;
  transition-duration: 1s;
}
.logos img{
  width: 100px;
}
.logos img:hover{
  width: 180px;
}
.service-heading{
  text-align: center;
  margin-top: 80px;
}
.service-heading h6{
  /* font-weight: bold; */
  font-size: xx-large;
  color: gray;
}
.service-heading h1{
  font-weight: 900;
  font-size: xxx-large;
  height: 80px;
}
.service-img{
  width: 220px;
  margin-left: 40px;
}
.service-title h2{
  font-weight: 1000;
  /* font-size: x-large; */
  letter-spacing: 1px;
  height: 40px;
}
.service-title p{
  color: gray;
}
.service-box{
  width: 300px;
  text-align: center;
}
.s-container{
  display: flex;
  justify-content: center;
  gap: 120px;
}
.aboutus h6{
  /* font-weight: bold; */
  font-size: xx-large;
  color: gray;
}
.aboutus h1{
  font-weight: 900;
  font-size: xxx-large;
  letter-spacing: 1px;
  /* height: 80px; */
}
.aboutus p{
  color: gray;
}
.aboutus h2{
  font-weight: 900;
  letter-spacing: 1px;
  font-style: inherit;
  margin-top: 10px;
}
.about-img img{
  width: 500px;
}
.aboutus{
  width: 500px;
}
.a-container{
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 120px;
  padding: 10px;
}
.process{
  height: 150px;
  background-color: rgb(105, 105, 231);
  margin-top: 60px;
}
.process-img img{
  width: 50px;
  margin-left: 60px;
}
.process-heading p{
  font-weight: 200;
  color: gray;
  margin-top: 20px;
}
.process-heading h1{
  color: rgb(105, 105, 231);
  font-weight: 800;
  font-size: xxx-large;
  font-style: inherit;
}
.process-container{
  width: 200px;
  height: 170px;
  background-color: #fff;
  text-align: center;
  padding: 2px;
  margin-top: 30px;
  border: 1px solid #fff;
  border-radius: 2px;
}
.p-container{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.fetures-img{
  width: 150px;
}
.fetures-head p{
  color: gray;
}
.fetures-head h1{
  font-weight: 900;
  letter-spacing: 1px;
  font-style: inherit;
}
.flexes{
  display: flex;
  width: 350px;
  gap: 10px;
  margin-top: 30px;
}
.f-container{
  display: flex;
  gap: 80px;
  justify-content: center;
  margin-top: 150px;
}
.f-header h6{
  /* font-weight: bold; */
  font-size: xx-large;
  color: gray;
}
.f-header h1{
  font-weight: 900;
  font-size: xxx-large;
  letter-spacing: 1px;
}
.scnd-flx{
  margin-left: 80px;
}
.project-li ul{
  display: flex;
  justify-content: center;
  gap: 50px;
  /* font-weight: bold; */
  color: gray;
}
.bold-li{
  border: 1px solid rgb(105, 105, 231);
  background-color: rgb(105, 105, 231);
  color: #fff;
  border-radius: 15px;
  text-align: center;
  width: 50px;
}
.project-img img{
  width: 300px;
  object-fit: contain;
}
.project-box{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: repeat(2 , 1fr);
  margin-top: 40px;
  justify-items: center;
  row-gap: 20px;
}
.newsletter{
  height: 300px;
  background-color: rgb(105, 105, 231);
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 150px;
}
.news-image{
  width: 250px;
  object-fit: contain;
  margin-top: 30px;
}
.news-head h6{
  /* font-weight: bold; */
  color: #fff;
  font-family: inherit;
}
.news-head h1{
  font-weight: 900;
  font-size: xx-large;
  color: #fff;
  font-family: inherit;
  margin-top: 5px;
}
.news-head p{
  color: #fff;
  margin-top: 10px;
}
.news-head input{
  border: 1px solid #fff;
  width: 350px;
  height: 40px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}
.news-head{
  width: 600px;
  margin-top: 30px;
}
.team-image img{
  width: 300px;
  height: 280px;
  margin-top: 25px;
  object-fit: cover;
}
.team-container{
  display: flex;
  justify-content: center;
  gap: 100px;
}
.team-boxes{
  width: 230px;
  height: 80px;
  border: 1px solid #fff;
  background-color: #fff;
  margin-left: 30px;
  margin-top: -50px;
  position: absolute;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
}
.team-boxes h2{
  font-weight: 900;
  font-size: x-large;
}
.team-boxes h6{
  /* font-weight: bold; */
  font-size: small;
  font-family: sans-serif;
  color: gray;
}
.team{
  background-color: rgb(243, 241, 241);
  height: 500px;
}
.price-heading{
  text-align: center;
  margin-top: 100px;
}
.price-heading h6{
  /* font-weight: bold; */
  font-size: xx-large;
  color: gray;
}
.price-heading h1{
  font-weight: 900;
  font-size: xxx-large;
  height: 80px;
}
.price-btn{
  background-color: rgb(105, 105, 231);
  border: 1px solid rgb(105, 105, 231);
  border-radius: 6px;
  color: white;
  height: 40px;
  width: 130px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 30px;
  transition-property: all;
  transition-duration: 0.3s;
}
.price-btn:hover{
  background-color: black;
  height: 45px;
  width: 135px;
}
.price-desc h1{
  font-weight: 900;
  font-size: xx-large;
  font-family: inherit;
  margin-bottom: 10px;
}
.price-desc h2 span{
  color: rgb(105, 105, 231);
  font-weight: 900;
  font-size: xx-large;
}
.price-desc h2{
  font-weight: bold;
  font-size: small;
  margin-bottom: 10px;
}
.price-desc p{
  color: gray;
  /* font-weight: bold; */
  margin-bottom: 10px;
}
.price-desc{
  width: 350px;
  height: 530px;
  border: 1px solid #fff;
  background-color: #faf8f8;
  text-align: center;
  padding: 20px;
}
.price-desc hr{
  margin-bottom: 10px;
  width: 200px;
  margin-left: 30px;
}
.price-desc ul li{
  color: rgb(100, 99, 99);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 30px;
}

.pric-btn{
  background-color: white;
  border: 1px solid #fff;
  border-radius: 6px;
  color: rgb(105, 105, 231);
  height: 40px;
  width: 130px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 30px;
  transition-property: all;
  transition-duration: 0.3s;
}
.pric-btn:hover{
  background-color: black;
  color: white;
  height: 45px;
  width: 135px;
}
.pric-desc h1{
  font-weight: 900;
  font-size: xx-large;
  font-family: inherit;
  margin-bottom: 10px;
}
.pric-desc h2 span{
  color: white;
  font-weight: 900;
  font-size: xx-large;
}
.pric-desc h2{
  font-weight: bold;
  font-size: small;
  margin-bottom: 10px;
}
.pric-desc p{
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}
.pric-desc{
  width: 350px;
  height: 530px;
  border: 1px solid #fff;
  background-color: rgb(105, 105, 231);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: -20px;
}
.pric-desc hr{
  margin-bottom: 10px;
  width: 200px;
  margin-left: 30px;
}
.pric-desc ul li{
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 30px;
}
.price-container{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
.client-container{
  background-color: rgb(243, 241, 241);
  height: 400px;
  margin-top: 50px;
}
.client-head{
  width: 450px;
  margin-top: 110px;
}
.client-head h6{
  /* font-weight: bold; */
  font-size: xx-large;
  color: gray;
  font-style: inherit;
}
.client-head h1{
  font-weight: 900;
  font-size: xxx-large;
}
.client-head p{
  /* font-weight: bold; */
  color: gray;
  font-style: inherit;
}
.client-box{
  width: 500px;
  height: 220px;
  background-color: #fff;
  padding: 20px;
  margin-top: 110px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
}
.client-box:hover{
  width: 550px;
  height: 230px;
}
.client-box p{
  /* font-weight: bold; */
  text-align: left;
  color: gray;
}
.client-box h1{
  font-weight: 900;
  margin-top: 20px;
}
.client-box h6{
  color: rgb(105, 105, 231);
}
.client-box img{
  width: 50px;
  margin-left: 380px;
  margin-top: -50px;
}
.client{
  display: flex;
  justify-content: center;
  gap: 80px;
}
.blogbox-counter{
  width: 380px;
  height: 450px;
  background-color: #faf8f8;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
}
.blogbox-counter:hover{
  width: 410px;
  height: 480px;
  margin-top: -20px;
}
.blog-head h2{
  font-weight: 900;
  font-size: large;
}
.blog-head p{
  /* font-weight: bold; */
  font-size: medium;
  color: gray;
  margin-top: 5px;
}
.blog-head{
  padding: 15px;
}
.blog-head hr{
  margin-top: 15px;
  font-weight: bold;
}
.blog-foot{
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 5px;
}
.blog-foot p{
  font-weight: bold;
  color: rgb(126, 124, 124);
}
.blog-counter{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.contact-header h6{
  color: gray;
  font-size: xx-large;
  /* font-weight: bold; */
}
.contact-header h1{
  font-weight: 900;
  font-size: xxx-large;
  letter-spacing: 1px;
}
.contact-header{
  margin-top: 100px;
}
.contact-input input{
  border: 1px solid rgb(163, 162, 162);
  border-radius: 3px;
  padding: 18px;
}
.contact-input{
  margin-top: 30px;
  display: grid;
  column-gap: 30px;
  row-gap: 20px;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: 60px 60px 60px 120px;
}
.sep{
  grid-column: 1/3;
}
.contact-left{
  width: 550px;
}
.contact-btn{
  background-color: rgb(105, 105, 231);
  color: white;
  font-weight: bold;
  height: 55px;
  width: 170px;
  padding: 2px;
  margin-top: 30px;
  text-align: center;
  border-radius: 30px;
  transition-property: all;
  transition-duration: 0.3s;
}
.contact-btn:hover{
  background-color: black;
  height: 60px;
  width: 175px;
}
.contact-img img{
  width: 550px;
  height: 500px;
  margin-top: 180px;
}
.contact-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.foot-img img{
  width: 100%;
  height: 130px;
  object-fit: cover; 
  margin-top: 80px;
}
.foot-btn{
  background-color: rgb(105, 105, 231);
  color: white;
  font-weight: bold;
  height: 55px;
  width: 170px;
  padding: 2px;
  text-align: center;
  border-radius: 30px;
  transition-property: all;
  transition-duration: 0.3s;
}
.foot-btn:hover{
  background-color: black;
  height: 60px;
  width: 175px;
}
.foot-head{
  display: flex;
  justify-content: space-around;
  margin-top: -90px;
}
.foot-head h1{
  font-weight: 900;
  font-size: xx-large;
  font-style: inherit;
  color: #fff;
}
.foot-desc{
  height: 550px;
  background-color: rgb(105, 105, 231);
}
.logo-foot a span{
  color: #fff;
  font-weight: 900;
  font-size: larger;
  margin-top: 30px;
}
.logo-foot{
  margin-top: 80px;
}
.foot-mail{
  margin-top: 100px;
}
.foot-adress{
  margin-top: 100px;
}
.foot-mail h1{
  font-weight: bold;
  font-size: larger;
  color: #fff;
}
.foot-mail h2{
  /* font-weight: bold; */
  color: #b4b2b2;
}
.foot-adress h1{
  /* font-weight: bold; */
  font-size: large;
  color: #b4b2b2;
}
.foot-adress h2{
  /* font-weight: bold; */
  color: #b4b2b2;
}
.foot-1st{
  display: flex;
  justify-content: space-around;
}
.foot-desc hr{
  width: 1150px;
  margin-left: 100px;
  margin-top: 25px;
}
.foot-about{
  width: 350px;
}
.foot-about h1{
  font-weight: 900;
  font-size: x-large;
  color: #fff;
}
.foot-about p{
  /* font-weight: bold; */
  color: #b4b2b2;
  margin-top: 30px;
}
.foot-links ul{
  margin-top: 30px;
}
.foot-links h1{
  font-weight: 900;
  font-size: x-large;
  color: #fff;
}
.foot-links ul li{
  /* font-weight: bold; */
  color: #b4b2b2;
  margin-bottom: 20px;
  transition-property: all;
  transition-duration: 0.3s;
}
.foot-links ul li:hover{
  color: black;
  font-weight: bold;
  font-size: large;
}
.footer-lower{
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 40px;
}
.low-footer{
  background-color: rgb(8, 8, 196);
  height: 50px;
  padding: 14px;
}
.low-footer h2{
  color: #969494;
  font-weight: bold;
  text-align: center;
}
.low-footer h2 span{
  color: #fff;
}